
@{
    ViewData["Title"] = "Index";
}

<div class="container text-center" style="background-color:#e2f0ef;padding-top:30px; padding-bottom:30px; width: 100%; height: 100%;">
    test;<br>
    test<br>
    test<br>
</div>

