@{
    ViewData["Title"] = "Начало";
}
<div class="row" style="text-align: justify">
    <div class="col-sm-6">
        <h2>Кои сме ние?</h2>
        <p>
            Brainzzler е образователна игра целяща да въведе в ИТ-сферата и най малките.
            Чрез въпросите децата научават нови неща, а чрез игрите те се мотивират да учат.
            Също така е и една от малкото платформи в България с html 5 игри.
        </p>
        <h2>Как да играете?</h2>
        <p>
            За да играете е нужно да се регистрирате.
            Всеки член на сайта има достъп до база данни с въпроси от IT-сферата наредени от лесни към трудни.
            Решите ли достатъчно въпроси, ви се отключват различни игри.
            За да играете влезте в меню Игри.
        </p>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <img src="~/images/Artboard 1.png" alt="img" width="100%"/>
        </div>
    </div>
</div>