@{
    ViewData["Title"] = "Home Page";
}
<div style="margin: 30px;">
    <div class="col-sm-8">
        <h2>Кои сме ние?</h2>
        <p>
            Brainzzler.com е образователна игра целяща да въведе в ИТ-сферата и най малките.
            Чрез въпросите децата научават нови неща, а чрез игрите те се мотивират да учат за да отключват различни игри.
            Също така е и една от малкото платформи в България с html 5 игри.
            Проекта ни е open sors и който иска може да регистрира девелопърски или учителски акаунт и да добавя въпроси или игри.
        </p>
        <br>
        <h2>Как да играете?</h2>
        <p>
            За да играете е нужно да се регистрирате.
            Всеки член на сайта има достъп до база данни с въпроси от IT-сферата наредени от лесни към трудни.
            Решите ли достатъчно въпроси, ви се отключват различни игри.
            За да ги включите влезте в меню Игри и започнете да играете.
            Там ще намерите едни от най известните игри за браузър.
            В зависимост от това колко нива сте минали ще се качвате и във нашета класация на сайта.
            Това е всичко.
        </p>
    </div>
</div>
