.banner{
  background-image: url(../images/header_home.png);
}

.banner h1{
  font-family: Sunday;
  font-size: 53px;
  color: rgb(0, 0, 0);
}

.banner h2{
  font-family: "Calibri";
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.StartGame{
  background-color: #c7201c;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.StartGame:hover{
  background-color: #566b75;
}
.footer{
  background-image: url(../images/footer_bg.png);
}

.link{
  color: black;
}
.link:hover{
  text-decoration: none;
  color: #566b75;
}

.AnswerButton{
  background-color: #51edde;
  margin-bottom: 30px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Sunday;
  font-size: 30px;
  color: white;
}

.question{
  margin-bottom: 20px;
  background-color: #0b77dc;
  padding: 30px;
  font-family: Sunday;
  font-size: 45px;
  color: white;
}
