@model Brainzzler.Models.Test

@{
    Layout = "_Layout";
    ViewData["Title"] = "Създай";
}

<h4>Създай тест</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Test_Name" class="control-label">Име</label>
                <input asp-for="Test_Name" class="form-control" />
                <span asp-validation-for="Test_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="StartGame" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>