@model IEnumerable<Brainzzler.Models.Test>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Тестове";
}

<table class="table">
    <thead>
        <tr>
            <th>
               Тестове
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test_Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Започни теста</a>
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">create</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
