@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center" style="margin-top: 50px;">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="forms-2" placeholder="Имейл" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="StartGame">Запиши</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
