@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}
<section>
    <form id="account" method="post" style="margin-top: 70px">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.UserName" class="forms-2" placeholder="Потребителско име" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="forms-2" placeholder="Парола" style="margin-top: 20px; margin-bottom: 10px;" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    Запомни Ме
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="enter-button">Вход</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Забравена Парола?</a>
            </p>
        </div>
    </form>
</section>
<section>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="facebook-button btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
