@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="forms-2" placeholder="Имейл" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="forms-2" placeholder="Парола" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="forms-2" placeholder="Потвърди Парола" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="enter-button">Регистрация</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
