@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата ви беше сменена. Моля <a asp-page="./Login">натиснете тук за да влезете.</a>.
</p>
