
@{
    ViewData["Title"] = "Index";
}
<div class="container text-center" style="background-color:#e2f0ef;padding-top:30px; padding-bottom:30px; width: 100%; height: 100%;">
    <img src="~/images/lock.png" alt="lock">
    <div>
        <button type="button" class="StartGame">Започни игра</button>
    </div>
</div>
